{% extends 'index.htm' %}
{% load static %}

{% block title %}{{ results.word1 | title }} | Definition of {{ results.word1 | title }} by English Urdu Dictionary{% endblock %}
{% block img %}<img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/logo-free-Copy.png' %}" alt="English Urdu dictionary" >{% endblock %}		

{% block content %}
<div >
    <br>
    <p >
        <h5 align="center">English Meaning of word {{ results.word1 | title }} : </h5>
        <br>
        {% for key in results.meaning %}
        
                <p align="center"><strong>{{ key }}</strong></p> 
           
        
        
        {% endfor %}
       <!-- <h5>{{results.meaning}}</h5>  -->

        <table width = "80%" height = "100%" align="center">
            <!-- <tr>
                <th>English</th>
                <th>Urdu</th>
            </tr> -->
            <!-- {% for key, value in result.items %}  -->
                <!-- <td  align="left" ><p ><strong>{{key}}</strong></p></td> -->
                <!-- <td  align="right" ><p><strong>{{value}}</strong></p></td> -->
            <!-- </tr> -->
            <!-- {% endfor %} -->
        </table>
    </p>
    <br>
</div>
{% endblock %}
